<?xml version="1.0"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
  <runtime>
    <legacyCorruptedStateExceptionsPolicy enabled="true" />
  </runtime>
  <appSettings>
    <!--命令行调试参数：C:\Users\Administrator\Desktop\新建文件夹 ftp://192.168.10.55 SlErpFtpProduct 000000 UpdateFilesProduct-->
    <add key="LocalDirPath" value="C:\Users\Administrator\Desktop\新建文件夹" />
    <add key="FtpUrl" value="ftp://192.168.10.55" />
    <add key="FtpUserName" value="SlErpFtpProduct" />
    <add key="FtpPassword" value="000000" />
    <add key="FtpUpdateFolder" value="UpdateFilesProduct" />
    <!--是否要copy子文件夹内的文件-->
    <add key="NeedCopyDescendantDir" value="true" />
    <!--要包含的目录路径（逗号分割）-->
    <add key="IncludeDirPaths" value="\Resources\" />
    <!--要排除的名称（目录或文件名都可，逗号分割）-->
    <add key="ExcludeNames" value="UpdateList.xml,ActiveReportsDesigner.exe,.dll.config,ComplicatedReportTemplate,\Log\,.pdb,.vshost.,\TempUpdate\,GalaSoft.MvvmLight,Microsoft.Practices,app.publish,ShenLianSystem.exe.manifest,ShenLianSystem.application,ShenLianSystem.exe.config,.xml,DataAccess.dll,.rar,.zip" />
  </appSettings>
</configuration>
